$primary: #292E49;
$green: #00b96b;



@import './scss//bootstrap';
@import './scss/auth';
@import './scss/screen-loader';
@import './scss/dashboard';

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1 0 auto;

}